# Pré-processamento dos códigos das Cidades

## Importações

Para este arquivo é necessário apenas a importação do pandas e então carregar a base de dados do Instituto Brasileiro de Geografia e Estatística(IBGE) que é disponibilizada para download no [site do instituto](https://www.ibge.gov.br/explica/codigos-dos-municipios.php) em formato .xls.

In [33]:
import pandas as pd

In [34]:
ibge_code_cities = pd.read_excel("datasets/municipios.xls")
ibge_code_cities.head(10)

,TÍTULO : BET - BANCO DE ESTRUTURAS TERRITORIAIS,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,RELATÓRIO DE DIVISÃO TERRITORIAL BRASILEIRA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,UF: 99 - BRASIL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,DATA BASE: 22/11/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,UF,Nome_UF,Região Geográfica Intermediária,Nome Região Geográfica Intermediária,Região Geográfica Imediata,Nome Região Geográfica Imediata,Município,Código Município Completo,Nome_Município
6,11,Rondônia,1102,Ji-Paraná,110005,Cacoal,00015,1100015,Alta Floresta D'Oeste
7,11,Rondônia,1102,Ji-Paraná,110005,Cacoal,00379,1100379,Alto Alegre dos Parecis
8,11,Rondônia,1101,Porto Velho,110002,Ariquemes,00403,1100403,Alto Paraíso
9,11,Rondônia,1102,Ji-Paraná,110004,Ji-Paraná,00346,1100346,Alvorada D'Oeste

## Tratamento dos Dados

Primeiramente será feita a retirada das primeiras linhas, inclusive a linha que nomeia as colunas, porque elas não contém informações relevantes.

In [35]:
ibge_code_cities.dropna(inplace=True)
ibge_code_cities.head(10)

,TÍTULO : BET - BANCO DE ESTRUTURAS TERRITORIAIS,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
5,UF,Nome_UF,Região Geográfica Intermediária,Nome Região Geográfica Intermediária,Região Geográfica Imediata,Nome Região Geográfica Imediata,Município,Código Município Completo,Nome_Município
6,11,Rondônia,1102,Ji-Paraná,110005,Cacoal,00015,1100015,Alta Floresta D'Oeste
7,11,Rondônia,1102,Ji-Paraná,110005,Cacoal,00379,1100379,Alto Alegre dos Parecis
8,11,Rondônia,1101,Porto Velho,110002,Ariquemes,00403,1100403,Alto Paraíso
9,11,Rondônia,1102,Ji-Paraná,110004,Ji-Paraná,00346,1100346,Alvorada D'Oeste
10,11,Rondônia,1101,Porto Velho,110002,Ariquemes,00023,1100023,Ariquemes
11,11,Rondônia,1101,Porto Velho,110002,Ariquemes,00452,1100452,Buritis
12,11,Rondônia,1102,Ji-Paraná,110006,Vilhena,00031,1100031,Cabixi
13,11,Rondônia,1101,Porto Velho,110002,Ariquemes,00601,1100601,Cacaulândia
14,11,Rondônia,1102,Ji-Paraná,110005,Cacoal,00049,1100049,Cacoal

In [36]:
ibge_code_cities.drop(5, inplace=True)
ibge_code_cities.head(10)

,TÍTULO : BET - BANCO DE ESTRUTURAS TERRITORIAIS,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
6,11,Rondônia,1102,Ji-Paraná,110005,Cacoal,00015,1100015,Alta Floresta D'Oeste
7,11,Rondônia,1102,Ji-Paraná,110005,Cacoal,00379,1100379,Alto Alegre dos Parecis
8,11,Rondônia,1101,Porto Velho,110002,Ariquemes,00403,1100403,Alto Paraíso
9,11,Rondônia,1102,Ji-Paraná,110004,Ji-Paraná,00346,1100346,Alvorada D'Oeste
10,11,Rondônia,1101,Porto Velho,110002,Ariquemes,00023,1100023,Ariquemes
11,11,Rondônia,1101,Porto Velho,110002,Ariquemes,00452,1100452,Buritis
12,11,Rondônia,1102,Ji-Paraná,110006,Vilhena,00031,1100031,Cabixi
13,11,Rondônia,1101,Porto Velho,110002,Ariquemes,00601,1100601,Cacaulândia
14,11,Rondônia,1102,Ji-Paraná,110005,Cacoal,00049,1100049,Cacoal
15,11,Rondônia,1101,Porto Velho,110002,Ariquemes,00700,1100700,Campo Novo de Rondônia

## Base de Dados final

Recorte das colunas que interessam para o projeto, renomeação destas e, ao final, salvar o dataframe resultante no diretório "datasets", o mesmo diretório do dataset original.

In [37]:
code_cities = ibge_code_cities[["Unnamed: 1", "Unnamed: 7", "Unnamed: 8"]]
code_cities.head(10)

   Unnamed: 1 Unnamed: 7               Unnamed: 8
6    Rondônia    1100015    Alta Floresta D'Oeste
7    Rondônia    1100379  Alto Alegre dos Parecis
8    Rondônia    1100403             Alto Paraíso
9    Rondônia    1100346         Alvorada D'Oeste
10   Rondônia    1100023                Ariquemes
11   Rondônia    1100452                  Buritis
12   Rondônia    1100031                   Cabixi
13   Rondônia    1100601              Cacaulândia
14   Rondônia    1100049                   Cacoal
15   Rondônia    1100700   Campo Novo de Rondônia

In [38]:
code_cities.reset_index(drop=True, inplace=True)
code_cities.head(5)

  Unnamed: 1 Unnamed: 7               Unnamed: 8
0   Rondônia    1100015    Alta Floresta D'Oeste
1   Rondônia    1100379  Alto Alegre dos Parecis
2   Rondônia    1100403             Alto Paraíso
3   Rondônia    1100346         Alvorada D'Oeste
4   Rondônia    1100023                Ariquemes

In [39]:
code_cities.rename(columns={"Unnamed: 1":"UF",	"Unnamed: 7":"code",	"Unnamed: 8":"name"}, inplace=True)
code_cities.head(10)

/tmp/ipykernel_5789/569271882.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  code_cities.rename(columns={"Unnamed: 1":"UF",	"Unnamed: 7":"code",	"Unnamed: 8":"name"}, inplace=True)

         UF     code                     name
0  Rondônia  1100015    Alta Floresta D'Oeste
1  Rondônia  1100379  Alto Alegre dos Parecis
2  Rondônia  1100403             Alto Paraíso
3  Rondônia  1100346         Alvorada D'Oeste
4  Rondônia  1100023                Ariquemes
5  Rondônia  1100452                  Buritis
6  Rondônia  1100031                   Cabixi
7  Rondônia  1100601              Cacaulândia
8  Rondônia  1100049                   Cacoal
9  Rondônia  1100700   Campo Novo de Rondônia

In [40]:
code_cities.to_csv("datasets/code_cities.csv", index=False)